.light {
    width: 100%;
    height: 100dvh;
    z-index: 1;
}
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #a0aec0 #f7fafc;
  overflow-y: auto;
}

/* Chrome, Edge, Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  background: #f7fafc;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #a0aec0;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #718096;
}