.background-superAdmin {
    width: 100%;
    height: 100dvh;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .5;
    overflow: hidden;

}

@media screen and (max-width:500px) {
    .background-superAdmin {
        width: 100%;
        height: 100dvh;
        position: absolute;
        left: 0;
        top: 0;
        opacity: .8;

        overflow: hidden;
    }
}